@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base { 
  * {
    direction: rtl;
  };
  @font-face {
    font-family: "iransans-regular";
    src: url(./styles/fonts/iran_sans/eot/IRANSansX-Regular.eot),
      url(./styles/fonts/iran_sans/ttf/IRANSansX-Regular.ttf),
      url(./styles/fonts/iran_sans/woff/IRANSansX-Regular.woff),
      url(./styles/fonts/iran_sans/woff2/IRANSansX-Regular.woff2);
    font-weight: 400; /* Normal weight */
  }
  
  @font-face {
    font-family: "iransans-bold";
    src: url(./styles/fonts/iran_sans/eot/IRANSansX-Bold.eot),
      url(./styles/fonts/iran_sans/ttf/IRANSansX-Bold.ttf),
      url(./styles/fonts/iran_sans/woff/IRANSansX-Bold.woff),
      url(./styles/fonts/iran_sans/woff2/IRANSansX-Bold.woff2);
    font-weight: 700; /* Bold weight */
  }
  
  @font-face {
    font-family: "iransans-medium";
    src: url(./styles/fonts/iran_sans/eot/IRANSansX-Medium.eot),
      url(./styles/fonts/iran_sans/ttf/IRANSansX-Medium.ttf),
      url(./styles/fonts/iran_sans/woff/IRANSansX-Medium.woff),
      url(./styles/fonts/iran_sans/woff2/IRANSansX-Medium.woff2);
    font-weight: 500; /* Medium weight */
  }
}

@layer utilities {
  .container {
    width: 70%;
    margin: auto;
  }
}
